{% extends "blog/base.html" %}
{% block content %}
    <div>
      <h1>About</h1>
      <h4>

        National Institute of Technology, Andhra Pradesh is the 31st institution among the chain of NITs started by the Government of India. NIT Andhra Pradesh is established in the state of Andhra Pradesh recently in the academic year 2015 – 2016.
        
        CPWD has taken up the activity of construction of buildings at Permanent Campus. Academic, Hostel, Guest House, Laboratory Complex and Workshop complex buildings are constructed in Phase-IA. HEFA / MHRD has sanctioned Rs. 400cr for infrastructure and development.
        </h4> 
    </div>
{% endblock content %}